{{> head }}


{{> navbar }}    

<div class="row">
    <div class="col-8">
        <h1>Simple IT</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis autem cum sit incidunt, magni exercitationem placeat esse quod est quae inventore qui alias mollitia blanditiis consequatur. Ex natus veritatis nulla.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/Simple-IT.png" alt="img-thumbnail">
    </div>
</div>

{{> footer }}
    